<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav mat-elevation-z1" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="/assets/svg/logo.svg" height="40px"/>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home">Início</a>
      <a mat-list-item routerLink="community">Top comunidades</a>
      <a mat-list-item routerLink="community/new">Nova comunidade</a>
      <a mat-list-item routerLink="address/new">Novo endereço</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon" class="menu">menu</mat-icon>
        </button>
      }
      <span class="spacer"></span>
      <button mat-button (click)="logout()">
        Sair
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
