table {
  width: 100%;
}

.table-container {
  position: relative;
  padding: 4px;
  overflow: auto;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 200px;
}