<h3>Comunidades</h3>
<mat-card class="table-container mat-elevation-z1">
  <div *ngIf="loading" class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  <div *ngIf="!loading">
  <table mat-table [dataSource]="pagination.content" color="primary">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
          <mat-cell *matCellDef="let row">
              <button mat-icon-button aria-label="Opção para editar endereço">
                  <mat-icon color="primary">edit</mat-icon>
              </button>
              <button mat-icon-button aria-label="Opção para excluir endereço">
                  <mat-icon color="warn">delete</mat-icon>
              </button>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
  </div>
<mat-paginator (page)="handlePageEvent($event)"
               [length]="pagination.totalElements"
               [pageSize]="pagination.pageSize"
               [disabled]="false"
               [showFirstLastButtons]="false"
               [pageSizeOptions]="[]"
               [hidePageSize]="true"
               [pageIndex]="pagination.page">
</mat-paginator>
</mat-card>
