<form class="form">
    <mat-form-field class="field">
        <mat-label>CEP</mat-label>
        <input matInput #postalCode maxlength="12" placeholder="Ex. 00000-000" [(ngModel)]="address.zipCode"
            name="zipCode" (blur)="findViaCEP()">
    </mat-form-field>
    
    <mat-form-field class="field">
        <mat-label>Rua</mat-label>
        <input matInput value="Google" placeholder="Ex. Av. Paulista nº 100" [(ngModel)]="address.street" name="street">
    </mat-form-field>
    
    <mat-form-field class="field">
        <mat-label>Número</mat-label>
        <input matInput placeholder="Ex. 100" [(ngModel)]="address.number" name="number">
    </mat-form-field>
    
    <mat-form-field class="field">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Ex. São Paulo" [(ngModel)]="address.city" name="city">
    </mat-form-field>
    
    <mat-form-field class="field">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Ex. São Paulo" [(ngModel)]="address.state" name="state">
    </mat-form-field>

    <mat-form-field class="field">
        <mat-label>País</mat-label>
        <input matInput placeholder="Ex. Brasil" [(ngModel)]="address.country" name="country">
    </mat-form-field>
    
    <mat-form-field class="field">
        <mat-label>Complemento</mat-label>
        <input matInput placeholder="Ex. Bloco 1, Apto 101" [(ngModel)]="address.complement" name="complement">
    </mat-form-field>

    <div class="button-container">
        <button mat-stroked-button color="accent" class="register-button button" (click)="goHome()">Cancelar</button>
        <button mat-flat-button color="primary" class="login-button button" type="submit"
            (click)="onSubmit()">Salvar</button>
    </div>
</form>