<app-default-login-layout
  title="Entre agora"
  primaryBtnText="Login"
  secondaryBtnText="Cadastrar"
  (navigate)="goRegister()"
  (submit)="login()"
  [(isLoading)]="loading"
>

<form class="login-form">
    <mat-form-field class="w-100">
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="Username" name="username"
            [(ngModel)]="loginObject.username" required>
    </mat-form-field>
    <mat-form-field class="w-100">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" name="password"
            [(ngModel)]="loginObject.password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</form>

</app-default-login-layout>

