
<app-default-login-layout
  title="Registrar"
  primaryBtnText="Registrar"
  secondaryBtnText="Voltar"
  (navigate)="goBack()"
  (submit)="submit()"
>

<div class="form">
  <mat-form-field class="w-100">
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="Username" name="username" [(ngModel)]="user.username"
            required>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Tipo de Usuário</mat-label>
      <mat-select matNativeControl [(ngModel)]="user.role" name="role" placeholder="Selecione a função">
        <mat-option *ngFor="let role of userRoles" [value]="role">
            {{role}}
        </mat-option>
    </mat-select>
  </mat-form-field>
    <mat-form-field class="w-100">
        <mat-label>Senha</mat-label>
        <input matInput type="password" placeholder="Password" name="password"
            [(ngModel)]="user.password" required minlength="8">
    </mat-form-field>
    <mat-form-field class="w-100">
        <mat-label>Confirmar Senha</mat-label>
        <input matInput type="password" placeholder="Password" name="passwordConfirm"
            [(ngModel)]="user.passwordConfirm" required minlength="8">
    </mat-form-field>
  </div>

</app-default-login-layout>

