
<app-default-login-layout
  title="Registrar"
  primaryBtnText="Registrar"
  secondaryBtnText="Voltar"
  (navigate)="goBack()"
  (submit)="submit()"
>

<form class="form">
    <mat-form-field class="w-100">
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="Username" name="username" [(ngModel)]="loginObject.username"
            required>
    </mat-form-field>
    <mat-form-field class="w-100">
        <mat-label>Senha</mat-label>
        <input matInput type="password" placeholder="Password" name="password"
            [(ngModel)]="loginObject.password" required minlength="8">
    </mat-form-field>
    <mat-form-field class="w-100">
        <mat-label>Confirmar Senha</mat-label>
        <input matInput type="password" placeholder="Password" name="passwordConfirm"
            [(ngModel)]="loginObject.passwordConfirm" required minlength="8">
    </mat-form-field>
</form>

</app-default-login-layout>

