<main>
  <form class="form-section" (submit)="onSubmit()">
    <img src="/assets/svg/logo.svg"/>
    <ng-content></ng-content>
    <div class="btn-wrapper">
        @if (isLoading) {
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
        <button mat-flat-button color="primary" class="w-100"
          [disabled]="isLoading"
          type="submit"
        >
          {{ primaryBtnText }}</button>
        <span>ou</span>
        <button mat-button color="tertiary" class="w-100" (click)="navigate()" [disabled]="isLoading">{{ secondaryBtnText }}</button>
    </div>
  </form>
  <section class="main-section" [style]="!showSVG ? 'display: none' : ''">
    <h1>Addrex, seu endereço aqui!</h1>
    <img src="/assets/svg/main-illustration.svg" height="50%"/>
  </section>

</main>
