.field {
    margin: 4px;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}
.button {
    min-width: 200px;
}
@media screen and (max-width: 600px) {
    .form {
        flex-direction: column;
    }
    .button {
        margin: 4px 0px;
        width: 100%;
        min-width: auto;
    }
}