@use '@angular/material' as mat;
@use './m3-theme.scss';
// mat.$theme-ignore-duplication-warnings: true;

@include mat.core();
// Define a dark theme
$dark-theme: m3-theme.$dark-theme;

// Define a light theme
$light-theme: m3-theme.$light-theme;

html {
  @include mat.all-component-themes($dark-theme);

  // Apply the dark theme by default
  @media (prefers-color-scheme: light) {
   @include mat.all-component-colors($light-theme);
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Inter, sans-serif; }

.w-100 {
  width: 100%;
}
